body{

    width: 100vw; height: 100vh;
}

#mensagem{

    position: absolute;
    left: 50%; bottom: 0;
    transform:translateX(-50%);
    z-index: 20;

}

div#conteudo{

    position: relative;
    width: 95%;
    height: 100%;

}

div#seletorDeNoticias{

    position: absolute;
    top: 50%; left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 666px;
    transform: translate(-50%,-50%);
    justify-content: center;

}

h3#texto{

    width: 350px;

}

div#temasNoticias{

    width: 300px;

}

div#noticias{

    position: absolute;
    right: 0; top: 50%;
    width: 500px;height: 100%;
    margin-right: 10px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translate(0,-50%);

}

div#noticias ul{

    padding: 20px 0;
    overflow-y: auto;

}

